{
  "printWidth": 100,
  "semi": true,
  "tabWidth": 4,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss", "**/*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "trailingComma": "all",
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "strict",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf",
  "singleAttributePerLine": true
}
