
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .scrollbar::-webkit-scrollbar {
        width: 7px;
        height: 20px;
      }
    
    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: transparent;
    }
    
    .scrollbar::-webkit-scrollbar-thumb {
        background: #ddd6fe;
        border-radius: 100vh;
    }
    
    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #c4b5fd;
    }
}